<h1 class='text-lg-center'><%= pet.name %>'s toy</h1>
<div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <% for (let i=0; i< pet.toys.length; i++) { %>
        <li class="list-group-item"><%= pet.toys[i].color %><%= pet.toys[i].type %></li>
      <% } %>
    </ul>
</div>
<form action='pets/<%= pet.id %>/addToy' method='POST'>
    <div class="mb-3">
      <label for="type" class="form-label">toys name</label>
      <input type="text" class="form-control" id="type" aria-describedby="emailHelp" name='name'>
      <div class="form-text">We'll never share your dog with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="species" class="form-s">Species</label>
        <input type="text" class="form-control" id="species" aria-describedby="emailHelp" name='species'>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>